<div>
  <table style="float: left;">
    <p>
    <caption><%=@cart.name %> </caption>
    <p>
    <tr>
      <th>Product brand</th>
      <th>Product Name</th>
      <th>Product Id</th>
      <th>Amount</th>
      <th>Weight</th>
      <th>subTotal</th>
      <th colspan="5"></th>
    </tr>
  
    <% @cart.cartitems.each do |item| %>
      <tr>
        <td><%= Product.find(item.product_id).brand%></td>
        <td><%= Product.find(item.product_id).name %></td>
        <td><%= item.product_id %></td>
        <td><%= item.amount%></td>
        <% if item.weight > 0 %>
          <td><%= item.weight %></td>
        <% else %>
          <td>n/a</td>
        <% end %>
        <td><%= item.subTotal %></td>
        <td><%= link_to '-', edit_cart_path({ product_name: Product.find(item.product_id).name, amount: -1}) %></td>
      </tr>
    <% end %>
      <tfoot>
      <tr>
        <tr></tr>
        <td>Total Price</td>
        <td><%= @cart.totalPrice %></td>
        <br>
        <br>
      </tr>
    </tfoot>
  </table>

  <table style: "float:left;">
    <caption> Product List </caption>
    <tr>
      <th>brand</th>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th>Price Condition</th>
      <th>Promotion</th>
      <th>Tax</th>    
      <th colspan="7"></th>
    </tr>
  
    <% @products.each do |product| %>
      <tr>
        <td><%= product.brand %></td>
        <td><%= product.name %></td>
        <td><%= product.category %></td>
        <td><%= product.price %></td>
        <td><%= product.price_condition %></td>
        <td><%= product.promo %></td>
        <td><%= product.tax %></td>
        <td><%= link_to '+', edit_cart_path({ product_name: product.name, amount: 1}) %></td>
      </tr>
    <% end %>
  </table>
    

</div>

<%= link_to 'View/Add a Cart', carts_path %>